/* CSS Document */
/*
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, fieldset { margin: 0; padding: 0; }
input,select,button,textarea{font-size:12px;}
div{list-style:none;	HEIGHT: auto;
	list-style-type: none;	margin: 0px;
	padding: 0px}
ul{list-style:none;	HEIGHT: auto;
	list-style-type: none;	margin: 0px;
	padding: 0px;}
LI {list-style: none; 	HEIGHT: auto;
	margin: 0px;
	padding: 0px;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,em,textarea,p,th,td,span{margin:0px;padding:0px;}
img{border:0;}
a{color:#005A88;text-decoration:none; cursor:pointer;}
a:hover{color:#FF9900; text-decoration:underline}
a:link,a:visited{text-decoration:none;color:#005A88;}
a:hover {text-decoration: underline;color:#de127e;}
a.Current{color:#FF7A01;}
a.now{color:#FF7A01;}


.c{clear:both;}
.tc{ text-align:center}


h2 { font-size:12; font-weight:normal}

.pt2{ padding-top:2px}
.pl30{ padding-left:30px}
.p10{padding:10px}
.pl5{ padding-left:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pb10{ padding-bottom:10px}
*/





/*10.27*/
.mainbox{ background:#fff;border-left:1px solid #dbe1e6;border-right:1px solid #dbe1e6;width:958px;margin-left:auto;margin-right:auto;}
.sever_box{ background:#fff;border:1px solid #dbe1e6;border-bottom:0px solid #dbe1e6;width:958px;margin-left:auto;margin-right:auto;}
.tonghua{ padding-left:100px}
.tonghua li{ font-size:14px; color:#1E719B; }
.tonghua p{ font-size:15px; color:#035A87; font-weight:bold; height:40px; line-height:40px; }
.toselect{width:222px; border:#ABADB3 1px solid; font-size:14px; color:#E10074; padding-left:5px; font-family:Arial, }
.pl10{ padding-left:10px}
.pl15{ padding-left:15px}
.pl20{ padding-left:20px}
.pl42{ padding-left:42px}
.pl75{ padding-left:75px}
.mb8{ margin-bottom:8px}
.tijiao{background:url(../images/tijiaoany.gif) no-repeat; border:0; width:92px; height:30px}
.tontixt{width:850px; margin:0 auto; height:25px}
.tontixt li{ float:left}

.hig_over{height:88px; overflow:hidden}

/*service*/
.fr{ float:right}
.fl{ float:left}
.ml11{ margin-left:11px; display:inline}
.ser-lef{ width:224px}
.ser-rig{ width:717px}
.suncat{ background: url(../images/leboud.gif) no-repeat; width:222px}
.suncat p{ font-size:14px; color:#005E91; font-weight:bold; padding-top:17px; text-align:left; padding-left:40px}
.inanywin{ width:210px; margin:0 auto}
.inanywin li{ width:104px; height:27px; display:block; background:url(../images/inany.jpg) no-repeat 2px 0; line-height:27px; text-align:center; float:left; margin-bottom:5px}
.inanywin a{ width:104px; height:27px; display:block; color:#0E5E80; text-decoration:none}
.inanywin a:hover{ color: #FF6600; text-decoration:none }
.bord_blue{ border:#C5E8F7 1px solid}
.left_text{ height:26px; line-height:26px; border-bottom:#BDDAE6; background:url(../images/letixt.gif) repeat-x; color:#005E93; padding-left:10px; font-size:14px; font-weight:bold}
.leftnay{}
.leftnay li{ background:url(../images/jitree.gif) no-repeat 7px 8px; padding-left:20px; height:25px; line-height:25px}
.leftnay li a{ color:#156B9F; text-decoration:none}
.leftnay a:hover{ color:#FF6600; text-decoration:underline}
.mor_yello{ font-size:12px; color:#FC720F}
.mor_yello a{ color:#FC720F; text-decoration:underline}
.mor_yello a:hover{ color:#52B20D; text-decoration:underline}

.hig18{ height:182px}
.fushi{ background:url(../images/phot_bould.gif) no-repeat; width:221px; margin:0 auto}

.fushi p{ font-size:14px; font-weight:bold; height:30px; color:#EA2DA7; line-height:30px; padding-top:5px; text-indent:0em; text-align:center}

.fushi li{ line-height:25px; color:#2E8AC1; border-bottom:#D1EFFF 1px solid; padding-left:5px; width:202px; margin: 0 auto; height:25px}
.fushi .poth{ text-align:center; padding-top:14px}
.fushi .poth img{ height:146px; width:107px; border:#BFE2F5 1px solid; padding:1px}
.bornone{ border-bottom:none}
.fonegray{ color:#5F5F5F}

.newyes{ color:#156B9F}
.newyes li{ background:url(../images/jitree.gif) no-repeat 7px 8px; padding-left:20px; line-height:18px; padding-top:4px; padding-bottom:4px}
.newyes a{ color:#EA2DA7; text-decoration: underline; padding-left:5px}
.newyes a:hover{ color:#FF6600}

.rigbould{ background:url(../images/rigtopbould.gif) no-repeat}
.rigtext02{ background:url(../images/rigtext.gif) no-repeat 0 12px; font-size:14px; font-weight:bold; padding-left:30px; color:#005E93; width:654px; margin:0 auto; height:30px; padding-top:10px}
.rigtext02 span{ float: right; width: 85px; height:21px; background:url(../images/ropmore.gif) no-repeat; color:#fff; font-size:12px; font-weight:normal; text-align: left; line-height:21px; padding-left:15px}
.rigtext02 span a{ display:block; width:79px; height:21px; text-decoration:none; color:#fff}
.rigtext02 span a:hover{ text-decoration:none; color:#FFF57D}
.carborld{ width:699px; height:147px; margin:5px auto 5px auto; padding:8px 0;}

.win154{ width:154px; height:123px; padding-top:20px}
.win424{ width:424px}
.hig143{ height:143px}
.win84{ width:84px}
.win215{ width:215px}
.rigborld{ background:url(../images/rigborld.gif) no-repeat right 0}
.hot_toxt{ height:27px; line-height:27px}
.hot_toxt li{ float:left}
.hot_toxt .dout{ background:url(../images/hotany.gif) no-repeat; width:143px; font-size:14px; font-weight:bold; color:#fff; height:25px; padding-left:12px; padding-top:2px}
.hot_toxt .dout02{ background:url(../images/hotany02.gif) no-repeat; width:143px; font-size:14px; font-weight:bold; color:#fff; height:25px; padding-left:12px; padding-top:2px}
.hot_toxt .dout03{ width:170px; font-size:14px; font-weight:bold; color:#2E8AC1; height:27px; padding-left:12px; }
.hot_toxt .dout04{ font-size:14px; font-weight:bold; color:#2E8AC1; height:27px; padding-left:12px; }
.hot_toxt .dout04 a{ color:#005A88; text-decoration:none}
.hot_toxt .dout04 a:hover{ color:#ff6600; text-decoration: underline}
.hot_toxt .dout04 .jia{ font-size:12px; font-weight: normal; color:#666; padding-left:20px; }

.danred{ color:#FF0592; font-size:14px}
.tuoborld{ width:699px; margin:0 auto;}

.tuhoum{ height:221px; padding:4px 1px 3px 1px; color:#085583}
.tuhoum li{ height:23px; line-height:23px; border-bottom:#C5E8F7 1px solid; overflow:hidden } 
.tuit{ background:url(../images/jitree.gif) no-repeat 7px 8px; }
.tuit a{ color:#005A88; text-decoration:none}
.tuit a:hover{ color:#ff6600; text-decoration: underline}

.dout_blue{ background:#F0F8FB}
.movtuhig{ height:166px}


.left_text .con_top{ }
.left_text .con_top li{ float:left; border-left:#9FD1EB 1px solid; border-right:#9FD1EB 1px solid}
.left_text .con_top li a{ display:block;width:100px;height:25px; background:url(../images/quiany02.gif)  repeat-x 0px 4px; _background:url(../images/quiany02.gif)  repeat-x 0px 4px;line-height:25px;_line-height:25px; text-align:center;margin:auto 0px;  font-size:12px; color:#005A88; outline:medium none}

.left_text .con_top li a:hover{ display:block;width:100px;height:25px; background:url(../images/quiany02.gif)  repeat-x 0px 4px; _background:url(../images/quiany02.gif)  repeat-x 0px 4px;line-height:25px;_line-height:25px; text-align:center;margin:auto 0px;  font-size:12px; color:#005A88; outline:medium none; text-decoration:none}

.left_text .con_top li a.current{ display:block;width:100px;height:26px; font-size:12px; line-height:26px;_line-height:26px; background:url(../images/quiany.gif)  no-repeat top #fff;_background:url(../images/quiany.gif)  no-repeat top #fff; outline:medium none}
.none {display:none;}

.con_top02{ }
.con_top02 li{ float:left; }
.con_top02 li a{ display:block;width:90px;height:26px; line-height:26px;_line-height:26px; text-align:center;margin:auto 0px;  font-size:12px; color:#005A88; outline:none}

.con_top02 li a:hover{ display:block;width:90px;height:26px; font-size:12px; line-height:26px;_line-height:26px; background:url(../images/quiany.gif)  no-repeat top #fff ;_background:url(../images/quiany.gif)  no-repeat top #fff;color:#F58220; text-decoration:none; border-left:#9FD1EB 1px solid; border-right:#9FD1EB 1px solid; outline:none}

.con_top02 li a.current{ display:block;width:90px;height:26px; font-size:12px; line-height:26px;_line-height:26px; background:url(../images/quiany.gif)  no-repeat top #fff;_background:#fff url(../images/quiany.gif)  no-repeat top; border-left:#9FD1EB 1px solid; border-right:#9FD1EB 1px solid; outline:none}

.hotue{
	height:63px;
	width:63px;
	position: absolute;
	background:url(../images/hot.gif) no-repeat;
	left:345px;
	top: -2px;
}
.hotue02{
	height:63px;
	width:63px;
	position: absolute;
	background:url(../images/hot02.gif) no-repeat;
	left:345px;
	top: -2px;
}
/*moveimg*/
.cEnd {
	DISPLAY: block; HEIGHT: 1%
}
UNKNOWN {
	HEIGHT: auto
}
.cEnd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#jCarouselLiteDemo .carousel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px 10px; PADDING-TOP: 10px; POSITION: relative
}
#jCarouselLiteDemo .digg {
	LEFT: 610px; POSITION: absolute; TOP: 110px
}
#jCarouselLiteDemo .main {
	MARGIN-LEFT: 0px
}
#jCarouselLiteDemo .demo EM {
	FONT-WEIGHT: bold; FONT-SIZE: 60%; COLOR: #ff3300; FONT-STYLE: normal
}
#jCarouselLiteDemo .carousel BUTTON {
	FLOAT: left
}
#jCarouselLiteDemo .carousel A.prev {
	DISPLAY: block; BACKGROUND: url(../images/rowleft2.gif) no-repeat left 40px; FLOAT: left; WIDTH: 30px; HEIGHT: 143px; TEXT-DECORATION: none
}
#jCarouselLiteDemo .carousel A.next {
	DISPLAY: block; BACKGROUND: url(../images/rowright2.gif) no-repeat left 40px; FLOAT: left; WIDTH: 30px; HEIGHT: 143px; TEXT-DECORATION: none
}
#jCarouselLiteDemo .carousel A.next {
	BACKGROUND: url(../images/rowright2.gif) no-repeat right 40px
}
#jCarouselLiteDemo .carousel A.next:hover {
	BACKGROUND-IMAGE: url(../images/rowright2_1.gif)
}
#jCarouselLiteDemo .carousel A.prev:hover {
	BACKGROUND-IMAGE: url(../images/rowleft2_1.gif)
}
#jCarouselLiteDemo .carousel A:hover {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; outline: none
}
#jCarouselLiteDemo .carousel A:active {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; outline: none
}
#jCarouselLiteDemo .carousel .jCarouselLite {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; LEFT: -5000px; FLOAT: left; VISIBILITY: hidden; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid;
}
#jCarouselLiteDemo .carousel UL {
	MARGIN: 10px
}
#jCarouselLiteDemo .carousel LI IMG {
	MARGIN: 4px 4px 4px 4px; WIDTH: 150px; HEIGHT: 108px; BACKGROUND-COLOR: #fff
}
#jCarouselLiteDemo .carousel LI P {
	MARGIN: 10px; WIDTH: 150px; HEIGHT: 118px; BACKGROUND-COLOR: #fff
}
#jCarouselLiteDemo .widget IMG {
	CURSOR: pointer
}
#jCarouselLiteDemo .mid {
	MARGIN-LEFT: 80px; WIDTH: 400px; HEIGHT: 300px
}
#jCarouselLiteDemo .vertical {
	MARGIN-LEFT: 170px
}
#jCarouselLiteDemo .vertical .jCarouselLite {
	WIDTH: 160px
}

DIV.lispag02 {
	 PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center; font-size:12px
}
DIV.lispag02 A {
	BORDER-RIGHT: #D4E7EA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #D4E7EA 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #D4E7EA 1px solid; COLOR: #1B85AF; MARGIN-RIGHT: 4px; PADDING-TOP: 2px; BORDER-BOTTOM: #D4E7EA 1px solid; TEXT-DECORATION: none; MARGIN-RIGHT: 4px;
}
DIV.lispag02 A:hover {
	BORDER-RIGHT: #1B85AF 1px solid; BORDER-TOP: #1B85AF 1px solid; BORDER-LEFT: #1B85AF 1px solid; COLOR: #1B85AF; BORDER-BOTTOM: #1B85AF 1px solid; BACKGROUND-COLOR: lightyellow ; MARGIN-RIGHT: 4px;
}
DIV.lispag02 A:active {
	 BORDER-RIGHT: #1B85AF 1px solid; BORDER-TOP: #1B85AF 1px solid; BORDER-LEFT: #1B85AF 1px solid; COLOR: #1B85AF; BORDER-BOTTOM: #1B85AF 1px solid; BACKGROUND-COLOR: lightyellow; MARGIN-RIGHT: 4px;
}
/*DIV.lispag02 SPAN{ text-align: center}*/
DIV.lispag02 SPAN.current {
	BORDER-RIGHT: #1B85AF 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1B85AF 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #1B85AF 1px solid; COLOR: #fff; MARGIN-RIGHT: 4px; PADDING-TOP: 2px; BORDER-BOTTOM: #1B85AF 1px solid; BACKGROUND-COLOR: #1B85AF 
}
DIV.lispag02 SPAN.disabled{ BORDER-RIGHT: #D4E7EA 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #D4E7EA 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #D4E7EA 1px solid; COLOR: #1B85AF; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #D4E7EA 1px solid}

.lef_biao01{ width:205px; margin:0 auto; padding-bottom:10px; padding-top:10px}
.consulting{ padding-left:10px; padding-top:3px; padding-bottom:7px; color:#005A88; line-height:18px; border-bottom:#ccc 0px dashed}
.consulting a{ color:#34AC2B; text-decoration:underline}
.consulting a:hover{ color:#F58220; text-decoration:underline}

.liname{ background:url(../images/tb061.gif) no-repeat 5px 13px; color:#3888B9}
.liname li{ height:26px; line-height:26px; padding-left:35px; overflow:hidden; width:180px}

.font_ji{ color:#DE127E}
/*12.16*/
.recom-doctor{ width:715px; margin:0 auto; height:57px; border-bottom:#C5E8F7 1px solid}
.recom-doctor .recom-lef{ width:560px; float:left; padding-left:5px; padding-right:20px; line-height:20px; color:#025B87; margin-top:7px}

.recom-doctor .recom-rig{ width:103px; float:right; margin-top:5px; background:url(../images/clock.gif) no-repeat 0px 2px; height:50px}
.recom-doctor .recom-rig li{ height:25px; font-size:13px; padding-left:25px; line-height:25px}
.recom-doctor .recom-rig a{ color:#1F8EC8}
.recom-doctor .recom-rig a:hover{ color:#FF5400}
.recom-bould{ background:#F4FAFD}
.bordtom{ background:url(../images/die.gif) repeat-x left bottom }

.yell13{ color:#FF6600; font-size:13px; font-weight:bold}
.yell13 a{ color:#FF6600; text-decoration:none}
.yell13 a:hover{ color:#34AC2B; text-decoration: underline}
.gree16{ color:#77BB26; font-size:16px; font-weight:bold}
.gree14{ color:#77BB26; font-size:14px; font-weight:bold}
.gree{ color:#34AC2B;}


a.linblu:link {  color:#005A88; text-decoration:none;}
a.linblu:visited { color:#005A88;text-decoration:none;}
a.linblu:hover {color:#005A88;text-decoration:underline;}


/*12.24*/
.movdoctor{ width:206px; height:113px; padding:15px 0px 10px 0px; border-bottom:#CCDBDB 0px dashed; margin:0 auto}
.win71{ width:71px}
.win71 img{ width:67px; height:97px; border:#C4C4C4 1px solid; padding:1px}
.docfont{ width:120px; color:#005A88 }
.docfont li{ padding-bottom:2px}
.line18{ line-height:18px}
.docover{ width:120px; height:18px; overflow:hidden}
.pr20{ padding-right:20px}


/*from head.css*/
.partners2 {width:935px;margin:16px auto 0px auto; background:#fff}
.partners2 ul{width:935px; overflow:hidden;padding:4px;}
.partners2 li{ float:left;MARGIN: 0px 0px 0px -5px;line-height:14px;height:25px;}
.partners2 li a{ display:block;padding-left:9px ;padding-right:13px;border-left:1px solid #b1acac;
white-space:nowrap; color:#6D6D6D}
.partners2 li a:hover{ color:#F58220}
.partners2 p{color:#1b85af; text-decoration:none; font-size:14px; font-weight:bold; }

.mt8{ margin-top:8px}
.bg01{ background:url(../images/morebg.gif) no-repeat 100px 5px;padding-right:15px;}
/*12.24*/
.movdoctor02{ width:206px; height:113px; padding:15px 0px 10px 0px; overflow:hidden; border-bottom:#CCDBDB 0px dashed; margin:0 auto}
.win71{ width:71px}
.win71 img{ width:67px; height:97px; border:#C4C4C4 1px solid; padding:1px}
.docfont{ width:120px; color:#005A88 }
.docfont li{ padding-bottom:2px}
.line18{ line-height:18px}
.docover{ width:120px; height:18px; overflow:hidden}
.buy-any{ background:url(../images/buy.gif) no-repeat; width:94px; height:32px; text-align:center; line-height:32px; font-size:14px; color:#fff; font-weight:bold; border:none; display:block; position:relative;  left:600px; top:-30px;}
.buy-any a{ color:#fff}

/*warm*/
.biantop{ background:url(../images/jichang.jpg) no-repeat;}
.taowid{ width:958px; height:266px; margin:0 auto}
.conventixe{ width:386px; height:183px; float:right; margin-top:70px; text-align:right; padding-right:97px}
.conventixe h1{ color:#F60040; font-size:32px; font-family:Microsoft YaHei; }
.price-gray{ font-size:18px; font-family:Microsoft YaHei; color:#5A5A5A}
.price-red{ font-size:37px; font-family:Microsoft YaHei; color:#F60040}
.price-red18{ font-size:18px;}
.mt54{ margin-top:65px}

.naybort{ width:763px; border:#CFCFCF 1px solid; margin:0px auto }
.tipwin{ background:url(../images/tipling.gif) no-repeat bottom; height:30px; font-size:20px; color:#E64006; font-family:Microsoft YaHei; padding:10px 5px 0 5px}
.tipwin span{ float:right; text-align:right; color:#E8830C; font-size:14px; padding-top:0px; font-family:"宋体"}
.tipwin02{ background:url(../images/jilise.gif) no-repeat bottom; height:30px; font-size:20px; color:#B82B88; font-family:Microsoft YaHei; padding:10px 5px 0 5px}
.tipwin02 span{ float:right; text-align:right; color:#C14798; font-size:14px; padding-top:0px; font-family:"宋体"}

.pad16{ padding:16px}
.mt3{ margin-top:3px}
.mt15{ margin-top:15px}
.bouldyell{ background:#FBF4D2}
.bouldyell02{ background:#F4ECF4}
.bombord2{ border-bottom:#fff 2px solid}
.leftbord2{ border-left:#fff 2px solid}
.tilis{ height: auto; vertical-align:middle}
.tilis td{  padding-left:20px; padding-top:5px; padding-bottom:5px; vertical-align:middle; border-bottom:#fff 2px solid}
.tilis li{ float:left; padding-left:20px;}
.tilis02{ line-height:20px; font-size:13px;}
.tilis02 li{ float:left;}
.wid58{ width:158px;}
.wid55{ width:550px; }
.pl25{ padding-left:20px}
.pb20{ padding-bottom:20px}
.tifont{ color:#2E4758; font-size:13px; line-height:22px}
.tifont02{ color:#964893}
.hig2{ height:2px; overflow:hidden; border-top:1px solid #fff}
.note{ padding-top:20px; color:#6C6C6C; line-height:18px; font-size:12px; padding-left:110px; padding-bottom:60px}
.note p{ font-size:13px; font-weight:bold; color:#FF0054; font-size:14px; line-height:30px; padding-left:3px}
.servbomt{ text-align:center; color:#999; padding-top:10px; height:35px; }

.wanbould{ background:url(../images/wanxin.jpg) no-repeat; }
.bouwhie{ background:#fff}
.warmbould{ background:url(../images/warmbould.jpg) no-repeat bottom #fff;}
.souci{ background:url(../images/souci.jpg) no-repeat bottom #fff}
.teste{ background:url(../images/soucitip.jpg) no-repeat;}


.data-view03{ border-style:solid none none solid; border-color:#EBEBEB -moz-use-text-color -moz-use-text-color #EBEBEB; border-right:medium none; border-width:1px medium medium 1px}
.data-view03 td{ padding:8px; border-bottom:#EBEBEB 1px solid; border-right:#EBEBEB 1px solid}

.queany{ width:81px; height:26px; border:none; background:url(../images/queany.gif) no-repeat; font-size:14px; color:#fff; cursor:pointer}
.queany02{ width:92px; height:30px; border:none; background:url(../images/tijiaoany02.gif) no-repeat; font-size:14px; color:#fff; cursor:pointer; font-weight:bold}

.juangling{ height:66px; width:120px; overflow:hidden}
.mordafu{ background:url(../images/moredafu.gif) repeat-x; height:35px; margin-top:5px; border-top:#E5F3F9 1px solid}
.alldafu{ background:url(../images/alldafu.gif) no-repeat 10px 4px; padding-left:5px; width:90px; float:right; margin-top:5px; font-weight:bold; text-align:left}
.allyellow{ color:#FF8400}
.allyellow a{color:#FF8400;text-decoration:none; }
.allyellow a:hover{color:#FF8400; text-decoration: none}
.allyellow a:link{text-decoration:underline;color:#FF8400;}
.allyellow a:visited{text-decoration:underline;color:#FF8400;}
.pl23{ padding-left:23px}
.padtb5{ padding-bottom:5px; padding-top:5px}
/*
.allwhie02{ color:#005e93; text-decoration:none; cursor:pointer}
.allwhie02 a{ color:#fff; text-decoration:underline}
.allwhie02 a:hover{ color:#fff; text-decoration:underline}
.allwhie02 a:link,a:visited{ color:#fff; text-decoration:none}*/


/*nay*/
.nay-lewind{ width:181px; background: url(../images/leboud.gif) no-repeat right top; border:#C5E8F7 1px solid; border-left:none; float:left; height:auto; padding-bottom:30px}
.pad15{ padding:15px 0 10px 15px}
.text14{ color:#0866B5; font-size:14px}
.lefany{ width:169px; margin:0 auto}
.lefany li{ width:155px; height:27px; margin-top:2px; background:url(../images/landou.gif) no-repeat; line-height:27px; display:block; padding-left:14px}
.lefany a{ color:#2D799F; text-decoration:none}
.lefany a:hover{ color:#84E201; text-decoration:underline}
.service-right{ width:762px; float:right; margin-right:7px; display:inline}
.buyhight{ background:url(../images/buybould.gif) repeat-x; height:38px; border:#D1EAED 1px solid}
.mt5{ margin-top:5px}
.mt3{ margin-top:3px}
.service-title{ width:550px; float:left; padding-left:10px; padding-top:8px; font-size:14px; color:#1F446A }
.title24{ font-size:24px; color:#EB0076; font-family:"宋体"; font-weight:bold}
.price{ font-size:20px; color:#3E3E3E; font-family:Arial}
.pushbutton-wind{ width:166px; float:right;}
.pushbutton{padding-top:5px; font-size:14px; font-weight:bold}
.pushbutton li{ float:left; width:78px; height:25px; background:url(../images/purchase.gif) no-repeat 2px 0; line-height:25px; display:block; text-align:center; cursor:pointer}
.allwhie{ color:#005E93}
.allwhie a{color:#fff;text-decoration:none; cursor:pointer;}
.allwhie a:hover{color:#FF6600; text-decoration:underline}
.allwhie a:link,.allwhie a:visited{text-decoration:none;color:#FFf;}
.bould-blue{ background:#eafbfe}
.naybomt{ height:90px; background:#E0F3F5 url(../images/angle.gif) no-repeat right bottom}
.wind15{ width:200px; margin:0 auto}
.pt15{ padding-top:15px}

.bombord2{ border-bottom:#fff 2px solid}
.tilis{ height:30px; line-height:30px; font-size:14px}
.tilis li{ float:left; padding-left:20px}
.tilis02{ line-height:30px; font-size:14px;}
.tilis02 li{ float:left;}
.tifont{ color:#2E4758; font-size:13px; line-height:30px}
.leftbord2{ border-left:#fff 2px solid}
.wid58{ width:150px;}
.wid55{ width:558px; }
.pl25{ padding-left:20px}
.note{ padding-top:14px; color:#6C6C6C; line-height:18px; font-size:12px; padding-left:14px; padding-bottom:0px}
.note p{ font-size:13px; font-weight:bold; color:#FF0054; font-size:14px; line-height:30px; padding-left:3px}


.bombord2{ border-bottom:#fff 2px solid}
.tilis{ height: auto; vertical-align:middle}
.tilis td{  padding-left:20px; padding-top:5px; padding-bottom:5px; vertical-align:middle; border-bottom:#fff 2px solid}
.tilis li{ float:left; padding-left:20px;}
.tilis02{ line-height:20px; font-size:13px;}
.tilis02 li{ float:left;}
.tifont{ color:#2E4758; font-size:13px; line-height:22px}
.leftbord2{ border-left:#fff 2px solid}
.wid58{ width:150px;}
.wid55{ width:558px; }
.pl25{ padding-left:20px}
.note{ padding-top:14px; color:#6C6C6C; line-height:18px; font-size:12px; padding-left:14px; padding-bottom:0px}
.note p{ font-size:13px; font-weight:bold; color:#FF0054; font-size:14px; line-height:30px; padding-left:3px}

.juangling{ height:66px; width:120px; overflow:hidden}
.mordafu{ background:url(../images/moredafu.gif) repeat-x; height:35px; margin-top:5px; border-top:#E5F3F9 1px solid}
.alldafu{ background:url(../images/alldafu.gif) no-repeat 10px 4px; padding-left:25px; width:60px; float:right; margin-top:5px; font-weight:bold}
.allyellow{ color:#FF8400}
.allyellow a{color:#FF8400;text-decoration:none; }
.allyellow a:hover{color:#FF8400; text-decoration: none}
.allyellow a:link{text-decoration:underline;color:#FF8400;}
.allyellow a:visited{text-decoration:underline;color:#FF8400;}
.pl23{ padding-left:23px}
.padtb5{ padding-bottom:5px; padding-top:5px}
.hig23{ width:200px; padding-right:15px; height:23px; overflow:hidden; }

/*20110412*/
/*.mainbox{ background:#fff;border-left:0px solid #dbe1e6;border-right:0px solid #dbe1e6;width:958px;margin-left:auto;margin-right:auto;}*/
.border02{border-bottom:1px solid #dbe1e6;}
.padd_t10{padding-top:10px;}
.m_t10{margin-top:10px;}
.m_le15{margin-left:15px;}
.m_le30{margin-left:30px;}
.padd_t15{padding-top:15px;}
.padd_le15{padding-left:15px;}
.padd_bottom10{padding-bottom:10px;}
.height25{height:25px;}
.lineheight25{line-height:25px;}
.border_le{border-left:1px solid #dbe1e6;}

.listtb{ background:url(../images/tb07.gif) no-repeat 0px 5px;padding-left:35px; color:#979797}
.listtb a{ color:#979797; text-decoration:none}
.listtb a:hover{ color:#979797; text-decoration: underline}
.listtb2{ background:url(../images/tb08.gif) no-repeat 0px 6px;padding-left:15px;display:block;width:65px; float:left;}
.listtb3{ background:url(../images/tb21.gif) no-repeat 15px 3px;padding-left:39px;}
.listtb4{ background:url(../images/tb20.gif) no-repeat 15px 0px;padding-left:39px;}
.listtb5{background:url(../images/dian3.gif) no-repeat 0px 8px;padding-left:10px;}


.list_cure{ display:block;}

.listbox{width:653px;}
.listbox2{width:285px;_width:285px;}
.listbox3{width:95%;margin-left:auto;margin-right:auto;}
.listbox3 a{ color:#6d6d6d; text-decoration:none}
.listbox3 a:hover{ color:#ff6600; text-decoration: underline}
.listbox4{width:651px;border-left:1px solid #dbe1e6;border-right:1px solid #dbe1e6;border-bottom:1px solid #dbe1e6;}
.listbox5{width:651px;border:1px solid #dbe1e6;}

.listbg{background:url(../images/bg19.gif) repeat-x bottom; }
.listbg2{background:url(../images/bg20.gif) no-repeat  center 29px; height:45px;}
.listbg3{background:url(../images/bg18.gif) repeat-x;height:28px;line-height:28px;}

.listhot{background:url(../images/bg24.gif) no-repeat 0px 0px;_background:url(../images/bg24.gif) no-repeat 0px 4px;height:32px;}
.listhot li{float:left;}
.listhot li a.current{ display:block;width:100px;height:32px;text-align:center;font-weight:bold;font-size:14px; line-height:28px;_line-height:35px; background:url(../images/hotbg.gif)  no-repeat bottom;_background:url(../images/hotbg.gif)  no-repeat 0px 4px;}

.listhot_txt {width:98%;margin-left:auto;margin-right:auto;height:140px;line-height:25px;}
.listhot_txt li{height:25px;line-height:25px;}
.listhot_txt a{background:url(../images/dian3.gif) no-repeat 0px 8px;padding-left:10px;}
.listhot_txt a:hover{background:url(../images/dian3.gif) no-repeat 0px -15px;}
.listhot_txt span{color:#a2adba; font-family:Arial;}

.listhot_txt2 {width:98%;margin-left:auto;margin-right:auto;height:140px;line-height:25px;}
.listhot_txt2 li{height:25px;line-height:25px;}

.left {float:left;}
.right {float:right;}
.m_le10_1{margin-left:10px;_margin-left:5px;}
.m_t5_1{margin-top:8px;_margin-top:5px;}
.m_t2_1{margin-top:2px;*margin-top:3px;_margin-top:4px;}

.font16{font-size:16px;}
.font14{font-size:14px;}
.blue2 { color:#1b85af; text-decoration:none;}
.font12{font-size:12px;}
.font11{font-size:11px;}

.borderline{ background:url(../images/dian.gif) repeat-x bottom;}
.borderline2{ background:url(../images/dian2.gif) repeat-y right;}

.xiangxi h2{font-size:16px;line-height:18px;padding:0px;margin:0px;}
.xiangxi .txt{font-size:12px;color:#6d6d6d;}
.xiangxi .txt_p{ text-indent:2em;line-height:25px;padding:18px 0px;}
.txt-align{ text-align:center;}

.hotbox{width:284px;border-left:1px solid #dbe1e6;border-bottom:1px solid #dbe1e6;height:241px;_height:236px;}
.hotbox .hottxt a{background:url(../images/tb03.gif) no-repeat 0px 3px;padding-left:10px;height:21px;line-height:21px; color:#6d6d6d}
.hotbox .hottxt a:hover{background:url(../images/tb03.gif) no-repeat 0px -20px;padding-left:10px; color:#ff6600}
.hotbox .more{ background:url(../images/morebg2.gif) no-repeat;padding-left:30px;height:36px;line-height:23px;}

a.gray2:link {  color:#898383; text-decoration:underline;}
a.gray2:visited {color:#898383;text-decoration:underline;}
a.gray2:hover {  color:#de127e;  text-decoration:none;}

.white{ color:#fff; text-decoration:none;}
.white a{ color:#fff;text-decoration:none;}
.white a:hover{color:#fff;text-decoration:underline;}

/*5.20*/
.data-view{ border-top:#d4e7ea 1px solid; border-left:#d4e7ea 1px solid;}
.data-view td{ border-bottom:#d4e7ea 1px solid; border-right:#d4e7ea 1px solid; padding:5px; line-height:20px}
.bord01{ border:#DFE0E2 1px solid}
.border-bomt04{ border-bottom:#E6EEEF 1px solid}
.zhufe02{ background:url(../images/zhufe02.gif) no-repeat; width:82px; height:25px; line-height:25px; font-size:14px; color:#fff; text-align:center; border:none; cursor:pointer}

/*5.22*/

.logboud{ background: url(../images/logbould.gif) repeat-x bottom; height:303px}

.logi_lef{ float:left; width:430px; padding-left:65px; padding-top:40px; background:url(../images/liest.gif) no-repeat right 5px}

.logi_lef ul{ padding-top:8px}

.logext{ height:35px; background:url(../images/ligo_tu.gif) no-repeat 0px -8px; width:240px; text-indent:-9999px; margin:0px}

.logi_lef p{ padding-left:80px; color:#F40000; padding-top:10px}

.logi_lef li{ float:left}

.logi_lef a{ color:#1F95C3; text-decoration: underline}

.logi_lef a:hover{ color:#E02D7B; text-decoration:none}

.login_x{ width:65px; text-align:right; padding-right:14px; color:#4B4C4C; height:22px; line-height:22px}
.login_x02{ width:80px; text-align:right; padding-right:14px; color:#4B4C4C; height:22px; line-height:22px}

.login_y{ width:238px; height:22px; line-height:22px; background:url(../images/ligo_tu.gif) 0 -64px; border:#DFE0E2 1px solid}

.login_y input{ border:none; background:none; padding-left:8px; color:#626262; padding-top:3px}

.wanji{ width:90px; height:20px; background:url(../images/ligo_tu.gif) 9px -186px; line-height:20px; text-align:right; padding-right:8px; margin-top:2px; outline:none}

.wanji a{ width:80px; height:20px; display:block; color:#1F95C3; text-decoration:none; line-height:20px; outline:none}

.wanji a:hover{ width:80px; height:20px; display:block; color:#ff6600; text-decoration:none; line-height:20px; outline:none}

.login_y02{ width:104px; height:22px; line-height:22px; background:url(../images/ligo_tu.gif) 0 -64px; border:#DFE0E2 1px solid}

.login_y02 input{ border:none; background:none; padding-left:8px; color:#626262; padding-top:3px}

.login_y03{ width:300px; height:22px; line-height:22px; padding-left:80px}

.login_any{ width:83px; height:30px; margin-right:10px; background:url(../images/ligo_any.gif) no-repeat 0 0px; cursor:pointer; text-align:center; font-size:14px; color:#fff; border:none; line-height:30px; font-weight:bold; float:left; outline:none}

div .login_any02{ width:85px; height:31px; margin-right:10px; background:url(../images/ligo_any.gif) no-repeat 0 -43px; cursor:pointer; text-align:center; font-size:14px; color:#000; border:none; line-height:31px; font-weight:bold; float:left; text-decoration: none; outline:none}
div .login_any02 a{text-decoration: none; color:#000}
div .login_any02 a:hover{text-decoration: none; color:#000}
.logi_righ{ width:430px; float:right; padding-top:40px; height:200px; background:url(../images/cici.gif)no-repeat 210px 40px}

.logi_righ a{ color:#898A8C; text-decoration:none}

.logi_righ a:hover{ color:#ff6600; text-decoration:none}

.tiexle{ background: url(../images/ligo_tu.gif) no-repeat 10px -222px; height:63px; text-indent:-9999px; }

.logi_righ ul{ padding-top:22px; padding-left:10px}

.logi_righ li{ padding-left:45px; height:33px; line-height:33px}

.loamge01{ background:url(../images/ligo_tu.gif) no-repeat 3px -310px;}

.loamge02{ background:url(../images/ligo_tu.gif) no-repeat 3px -348px;}

.loamge03{ background:url(../images/ligo_tu.gif) no-repeat 3px -385px;}
.bord02{ border:#DBE1E6 1px solid}
/*vip02*/

.vip_y{ width:187px; height:22px; line-height:22px; background:url(../images/ligo_tu.gif) 0 -64px; border:#DFE0E2 1px solid}

.vip_y input{ border:none; background:none; padding-left:8px; color:#626262; padding-top:3px}

.noe_lef{ float:left; width:250px; padding-left:23px; padding-top:130px; text-align:center;}

.vipext{ height:55px; background:url(../images/ligo_tu.gif) no-repeat 10px -311px; width:240px; text-indent:-9999px; margin:0px}

.vip_lef{ float:left; width:310px; padding-left:23px; padding-top:40px; background:url(../images/liest.gif) no-repeat left 5px; height:220px}

.vip_lef a{ color:#1F95C3; text-decoration: underline}

.vip_lef a:hover{ color:#E02D7B; text-decoration:none}

.vip_lef ul{ padding-top:8px}

.vip_lef li{ float:left}

.vipin_y03{ width:200px; height:22px; line-height:22px; padding-left:95px}

/*buysuccess*/
.yes02{ background:url(../images/yes02.gif) no-repeat; padding-left:55px; height:43px; line-height:43px}
.hot_toxt{ height:27px; line-height:27px}

.hot_toxt li{ float:left}

.hot_toxt .dout{ background:url(../images/hotany.gif) no-repeat; width:143px; font-size:14px; font-weight:bold; color:#fff; height:25px; padding-left:12px; padding-top:2px}

.hot_toxt .dout02{ background:url(../images/hotany02.gif) no-repeat; width:143px; font-size:14px; font-weight:bold; color:#fff; height:25px; padding-left:12px; padding-top:2px}

.hot_toxt .dout03{ width:140px; font-size:14px; font-weight:bold; color:#2E8AC1; height:27px; padding-left:12px; }

.hot_toxt a{ font-size:14px; font-weight:bold; color:#2E8AC1; text-decoration:none}

.hot_toxt a:hover{ font-size:14px; font-weight:bold; color:#ff6600; text-decoration:none}

.bould_succes{ background:#F1F4F7; border-bottom:#DCE1E5 1px solid}

.suc_blue{ font-size:14px; text-indent:24px; color:#1B85AF; line-height:28px; padding-right:60px}

.suce_leb{ width:255px; height:270px; float:left; border-right:#DFE0E2 1px solid; margin-top:30px; padding-left:31px; padding-right:31px}

.danred{ color:#FF0592; font-size:14px}

.suc_any{ padding-top:16px; height:32px; text-align:center}

.suc_any li{ float:left; width:81px}

.suc_cont{ height:70px; line-height:18px; padding-top:3px; text-align:left;}

.lesbould{ background:url(../images/cha-bould.gif) repeat-x; height:28px; line-height:28px; color:#686868; font-weight:bold; font-size:14px}

.lesbould span{ width:57px; float:right; padding-top:4px}