</div>
<hr>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="<?php echo JS_BASE_PATH_ADMIN ?>/widgets.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-transition.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-alert.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-modal.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-dropdown.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-scrollspy.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-tab.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-tooltip.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-popover.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-button.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-collapse.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-carousel.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-typeahead.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/bootstrap-affix.js"/></script>

<script src="<?php echo JS_BASE_PATH_ADMIN ?>/holder/holder.js"/></script>
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/google-code-prettify/prettify.js"/></script>

<script src="<?php echo JS_BASE_PATH_ADMIN ?>/application.js"/></script>
</body>
</html>
<footer>
	<p>&copy; 广州巨光 2013</p>
</footer>