<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>广州巨光</title>
<link rel="stylesheet" href="<?php echo CSS_BASE_PATH_ADMIN ?>/bootstrap.css" type="text/css" media="screen" charset="utf-8">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
<link rel="stylesheet" href="<?php echo CSS_BASE_PATH_ADMIN ?>/bootstrap-responsive.css" type="text/css" media="screen" charset="utf-8">
<script src="<?php echo JS_BASE_PATH_ADMIN ?>/jquery.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#">广州巨光网站后台管理</a>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>